.nav-style {
  background: $blue;
  height: 60px;
}

.nav-brand {
  color: $white;
  font-size: 1.6rem;
}

.nav-brand:hover {
  color: $white;
  text-decoration: none;
}

#logo {
  display: flex;
  justify-content: center;
}